/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8/05/2015, 02:32:20 PM
    Author     : erick
*/

@import "variables";
@import "layout";

/*
    General
*/
body{
    font-family: @font-family-sans-serif;
}

a{
    color: @link-color;
    font-weight: 600;
    &:hover{
        color: @link-color-hover;
        text-decoration: @link-hover-decoration;
    }
}

h1,h2,h3,h4,h5,h6{
    color: @headings-color;
    font-weight: @headings-font-weight;
    line-height: @headings-line-height;
    color:@headings-color;
    > a{
        color:@headings-color;
    }
}

/* Blog */

.blob_entry{
    .title{

    }
    .date{
        display: inline-block;
        font-style: italic;
    }
    .author{
        display: inline-block;
        margin-left: 40px;
    }
    .content{
        margin-bottom: 10px;
    }
}

.options{
    margin-top: 5px;
}

#twitter_timeline{

    .hidden_tweet{
        backgroup: #EAEAEA;
        color: #ADABAB;
        a {
            color: #747474;
        }
    }

    .screen_name{
        display: inline-block;
        margin-left: 8px;
    }

    .date{
        display: inline-block;
        font-style: italic;
        font-size: 10px;
    }
}