@max-width-container: 960px;

@link-color: #404040;
@link-color-hover: darken(@link-color, 15%);
@link-hover-decoration: none;

@font-family-sans-serif:  'Open Sans', sans-serif;

@headings-font-family:    'Oswald', sans-serif;

@headings-font-weight:    400;
@headings-line-height:    1.1;
@headings-color:          #000;